/*******************************/
/* CUSTOM FONTS */
/*******************************/


/*font options for splash page button text below:*/ 

@font-face {
	font-family: 'Artifika';
	src: url('../fonts/Artifika-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Tryst-Regular';
	src: url('../fonts/Tryst-Regular.otf') format('truetype');
}


@font-face {
	font-family: 'Alegreya-Regular';
	src: url('../fonts/Alegreya-Regular.otf') format('truetype');
	}

@font-face {
	font-family: 'GenBasR';
	src: url('../fonts/GenBasR.ttf') format('truetype');
}

@font-face {
	font-family: 'Metamorphous-Regular';
	src: url('../fonts/Metamorphous-Regular.otf') format('truetype');
}


@font-face {
	font-family: 'ModernAntiqua-Regular';
	src: url('../fonts/ModernAntiqua-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Artifika-Regular';
	src: url('../fonts/Artifika-Regular.ttf') format('truetype');
}


/*******************************/
/* GENERAL STYLES */
/*******************************/
html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font: 14px "Contra", Helvetica, Arial, sans-serif;
	background: url("../img/castle-bg-sm.jpg") no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

a {
	color: #00B7FF;
}

h1 {
	color: #210;
	display: inline-block;
	vertical-align: middle;
	font-family: Perrygot;
	text-align: center;
}

h2 {
	font-size: 1.75em;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

h3 {
	text-align: center;
	color: #e4dacd;
	font-size: 1.25;
	margin: 1.0em auto 0 auto;
}

button {
	display: block;
	color: #e4dacd;
	text-shadow: 0 -1px 1px black;
	margin: 2% auto 20px auto;
	padding: 0.25em;
	font-size: 2.0em;
	background-image: url("../img/stone-texture.jpg");
}

button:focus {
	outline: 0;
}

#divSplash {
	margin: auto;
	display: block;
}

#divSplash h1 {
	width: 100%;
	font-size: 8.0em;
}

#divSplash button {
	font-size: 1.75em;
	display: block;
	padding: 0.5em;
}


/*******************************/
/* TUTORIAL STYLES */
/*******************************/
#directions {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 6.75em;
	background-color: lightblue;
	display: block;
}

#directions div {
	font-size: 1.5em;
}

#options h3 {
	display: inline-block;
	padding: 0;
}

#next, #justPlay {
	font-size: 1.75em;
	display: inline-block;
	margin: 0;
	padding: 0.25em;
}

#next:focus {
	outline: initial;
}

#justPlay {
	float: right;
}

#tutorialGrid {
	width: 92%;
	padding: 0;
	min-width: 260px;
	min-height: 260px;
}

.slideIn {
  position: absolute;
  clear: left;
  width: 80%;
  -webkit-animation: slide 1s forwards;
  animation: slide 1s forwards;
}

@-webkit-keyframes slide {
	0% {
	  left: 500px;
	  opacity: 0;
	}
	50% {
  	opacity: 0;
	}
  100% {
  	left: 8%;
  	opacity: 1;
  }
}

@keyframes slide {
	0% {
		left: 500px;
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		left: 8%;
		opacity: 1;
	}
}

.slideOut {
	position: absolute;
	float: left;
	width: 80%;
	-webkit-animation: slideOut 1s forwards;
	animation: slideOut 1s forwards;
}

@-webkit-keyframes slideOut {
	0% {
		left: 8%;
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
	100% {
		left: -500px;
		opacity: 0;
	}
}

@keyframes slideOut {
	0% {
		left: 8%;
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
	100% {
		left: -500px;
		opacity: 0;
	}
}


/*******************************/
/* BANNER STYLES */
/*******************************/
.banner {
	display: flex;
	margin: 0 8.4%;
	background-image: url("../img/stone-texture.jpg");
	border: outset 2px;
}

.banner div {
	margin: 0 auto;
	text-align: center;
}

#points {
	float: left;
	padding: 0.2em;
	width: 13em;
}

#high-score {
	float: left;
	padding: 0.2em;
	width: 10em;
}

#timer {
	float: left;
	padding: 0.2em;
	width: 14em;
}


/*******************************/
/* BOARD STYLES */
/*******************************/
#container {
	clear: left;
	display: block;
	box-sizing: border-box;
	background: url("../img/mahogany-sm.jpg") no-repeat;
	background-size: cover;
	position: absolute;
	top: 10%;
	left: 7.5%;
	width: 85%;
	min-width: 640px;
	min-height: 400px;
	padding-bottom: 48%;
	box-shadow: 0 2px 14px 1px black;
	border: 10px outset transparent;
	-webkit-border-image: url("../img/wood-border-sm.jpg") 10 300 stretch;
	-moz-border-image:    url("../img/wood-border-sm.jpg") 10 300 stretch;
	-o-border-image:      url("../img/wood-border-sm.jpg") 10 300 stretch;
	border-image:         url("../img/wood-border-sm.jpg") 10 300 stretch;
}

#sidebar {
	position: absolute;
	top: 2.5%;
	left: 3%;
	width: 30%;
	padding: 0;
}

.inset {
	font-size: 0.75em;
	display: flex;
}

#main {
	position: absolute;
	top: 1%;
	left: 40%;
	width: 60%;
	max-width: 640px;
	max-height: 640px;
	padding: 0;
}

#divGrid {
	width: 100%;
	padding: 0;
}

.square {
	box-sizing: border-box;
	line-height: 0;
	width: 18%;
	padding-bottom: 17%;
	margin-left: 1%;
	margin-top: 1%;
	float: left;
	border-radius: 5%;
	box-shadow: inset 0 -1px 2px 0 #404040;
	border: outset 3px #654;
	-webkit-border-image: url("../img/wood-border-sm.jpg") 10 300 stretch;
	-moz-border-image:    url("../img/wood-border-sm.jpg") 10 300 stretch;
	-o-border-image:      url("../img/wood-border-sm.jpg") 10 300 stretch;
	border-image:         url("../img/wood-border-sm.jpg") 10 300 stretch;
}

.square img {
	margin: 0;
	padding: 0;
	/*padding-bottom: 4.25%;*/
	width: 100%;
	/*height: 100%;*/
	opacity: 1;
}

.color-0 { 
	background-image: url("../img/valley.jpg");
	background-size: cover;
}
.color-1 { 
	background-image: url("../img/mountain.jpg");
	background-size: cover;
}
.color-2 { 
	background-image: url("../img/swamp.jpg");
	background-size: cover;
}
.color-3 { 
	background-image: url("../img/desert.jpg");
	background-size: cover;
}
.color-4 { 
	background-image: url("../img/forest.jpg");
	background-size: cover;
}

.a {
	background-color: transparent;
	box-shadow: inset -3px 0 20px 1px #f0f0f0;
}

.b {
	background: url("../img/end.jpg") no-repeat;
	background-size: cover;
	opacity: 0.8;
}

.b img {
	padding-bottom: 4.25%;
}

.clicked {
	background: transparent;
	box-shadow: inset -4px 2px 18px -3px #f0f0f0;
	border: none;
}

#divUserMoves {
	box-sizing: border-box;
	margin-top: 1.0em;
	width: 100%;
	padding-bottom: 17%;
	background-image: url("../img/stone-texture.jpg");
	opacity: 0.97;
	border: 3px solid #aaa;
	background-size: 50% 50%;
	border-style: outset;
}

#divUserMoves .square {
	box-sizing: border-box;
	width: 15.5%;
	padding-bottom: 15.5%;
	box-shadow: 0 -1px 8px black;
	border: none;
}

#divHints {
	box-sizing: border-box;
	margin-top: 0.5em;
	width: 100%;
	padding-bottom: 17%;
	background-image: url("../img/stone-texture.jpg");
	opacity: 0.97;
	border: 4px solid #aaa;
	border-style: outset;
}

#divHints .square {
	box-sizing: border-box;
	width: 15.5%;
	box-shadow: 0 -1px 8px black;
	border: none;
}

#divHints .b {
	background-size: cover;
	padding-bottom: 15.5%;
}

#divHints .currentMove {
	padding: 0;
	border: 2px solid orange;
}

.hasImage {
	line-height: 0;
	padding-bottom: 0;
}

#btnReset {
	position: absolute;
	top: 65%;
	left: 0;

}

#alert button {
	position: relative;
	left: 40%;
	width: 20%;
}


/*******************************/
/* MEDIA QUERIES */
/*******************************/
@media screen and (min-width: 640px) {
	button {
		font-size: 1.5em;
	}

	#divSplash h1 {
		font-size: 6.0em;
	}

	#container {
		left: 0;
	}
}

@media screen and (min-width: 750px) {
	button {
		font-size: 1.5em;
	}

	#container {
		padding-bottom: 50%;
		left: 7.5%;
	}

	.square {
		padding-bottom: 16%;
	}

	.hasImage {
		padding-bottom: 0;
	}
}

@media screen and (min-width: 1200px) {
	button {
		font-size: 2.25em;
	}

	.banner {
		width: 1100px;
		margin: auto;
	}

	#container {
		position: static;
		padding-bottom: 280px;
		width: 1100px;
		margin: auto;
		margin-top: 1%;
	}

	#sidebar {
		display: inline-block;
		position: static;
		width: 380px;
		margin: 2%;
	}

	#main {
		clear: left;
		display: inline-block;
		position: static;
		float: right;
		margin-right: -1%; 
		width: 640px;
		height: 640px;
	}
}

@media handheld, only screen and (max-width: 639px), only screen and (max-device-width: 1080px) {
	body {
		background-size: 200% 104%;
	}

	h1 {
		text-shadow: 0 6px 6px #404040;
	}

	h2 {
		font-size: 3.0em;
	}

	h3 {
		font-size: 3.0em;
	}

	button {
		margin-top: 0;
		display: block;
		padding: 0.25em;
		font-size: 3.25em;
		background-image: none;
		background-color: #7c7c7c;
	}

	#divSplash {
		width: 100%;
		font-size: 1.5em;
	}

	#divSplash button {
		margin-top: 20%;
		font-size: 2.5em;
		text-shadow: 0 1px 10px 1px black;
		border: 3px outset #ababab;
	}

	#directions {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 6.0em;
		display: block;
	}

	#directions div {
		font-size: 1.5em;
	}

	.slideIn {
		width: 80%;
	}

	.slideOut {
		width: 80%;
	}

	#options h3 {
		display: inline-block;
		padding: 0;
	}

	#next, #justPlay {
		font-size: 1.75em;
		display: inline-block;
		margin: 0;
		padding: 0.25em;
	}

	#justPlay {
		float: right;
	}

	#tutorialGrid {
		position: static;
		margin: auto;
	}

	.banner {
		width: 100%;
		float: left;
		margin: 0;
		background: none;
		border: none;
	}

	.banner div {
		background-image: none;
		background-color: #7c7c7c;
		border: outset 2px;
	}

	#points {
		font-size: 0.88em;
		width: 25em;
	}

	#timer {
		font-size: 0.89em;
		width: 23em;
	}

	#high-score {
		font-size: 0.88em;
		width: 19em;
	}

	#container {
		clear: left;
		box-sizing: border-box;
		position: static;
		width: 100%;
		min-width: 328px;
		padding-bottom: 0;
	}

	#sidebar {
		position: static;
		float: none;
		display: block;
		margin: auto;
		padding: 0;
		width: 96%;
	}

	.inset {
		font-size: 1.1em;
		width: 100%;
		float: left;
		margin: 0;
		margin-top: -3%;
	}

	#divHints {
		margin: auto;
		padding-bottom: 17.25%;
		width: 100%;
		background-image: none;
		background-color: #7c7c7c;
	}

	#divUserMoves {
		margin: auto;
		padding-bottom: 17.25%;
		width: 100%;
		background-image: none;
		background-color: #7c7c7c;
	}

	#main {
		clear: left;
		position: static;
		display: block;
		width: 100%;
		max-width: none;
		max-height: none;
		margin-left: 2%;
	}

	#divGrid {
		position: static;
		margin: 5% auto;
		width: 100%;
	}

	.square {
		padding-bottom: 17.2%;
	}

	.hasImage {
		padding-bottom: 0;
	}

}


/******************************
/* ANIMATIONS */
/*******************************/
@-webkit-keyframes highlight {
	100% {
		top:    -12px;
		right:  -12px;
		bottom: -12px;
		left:   -12px;
		opacity: 0;
	}
}

@keyframes highlight {
	100% {
		top:    -12px;
		right:  -12px;
		bottom: -12px;
		left:   -12px;
		opacity: 0;
	}
}

.highlight {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	opacity: 0.8;
}

#divHints.highlight {
	display: block;
}

.highlight:before {
	content: '';
	position: absolute;
	border-radius: 5%;
	box-shadow: inset 0 0 0 100px #202010;
	top:    0;
	right:  0;
	bottom: 0;
	left:   0;
	-webkit-animation: highlight 1s infinite;
	animation: highlight 1s infinite;
}

.glow {
	-webkit-animation-name: glow;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
	
@-webkit-keyframes glow {
	from {box-shadow: inset 0 0 50px 0px transparent;}
	25%  {box-shadow: inset 0 0 50px 0px #d3d3d3;}
	50%  {box-shadow: inset 0 0 50px 0px white;}
	75%  {box-shadow: inset 0 0 50px 0px #d3d3d3;}
	to   {box-shadow: inset 0 0 50px 0px transparent;}
}

