/*******************************/
/* CUSTOM FONTS */
/*******************************/
@font-face {
	font-family: Cardinal;
	src: url('../fonts/Cardinal-Alternate.ttf');
}

@font-face {
	font-family: Perrygot;
	src: url('../fonts/Perrygot.ttf');
}


/*******************************/
/* GENERAL STYLES */
/*******************************/
body {
	margin: 0;
	padding: 0 0 30px 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url("../img/castle-bg-md.jpg");
	background-size: 100% 150%;
}

a {
	color: #00B7FF;
}

h1 {
	display: inline-block;
	vertical-align: center;
	font-family: Perrygot;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	display: inline-block;
	float: left;
	margin: 1.0em auto;
	padding: 0;
}

h3 {
	margin: 0 auto;
	padding-top: 8%;
}

button {
	margin: 0 auto 20px auto;
	font-size: 1.25em;
	background-image: url("../img/brushed_alu_dark.png");
	border: outset 4px solid #aaa;
}

#divSplash {
	margin: auto;
	width: 80%;
	display: block;
}

#divSplash h1 {
	width: 100%;
	font-size: 8.0em;
}

#divSplash button {
	font-size: 1.75em;
	display: block;
	padding: 0.5em;
}


/*******************************/
/* TUTORIAL STYLES */
/*******************************/
#directions {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 6.0em;
	background-color: lightblue;
	display: block;
}

#directions div {
	font-size: 1.5em;
}

#options h3 {
	display: inline-block;
	padding: 0;
}

#next, #justPlay {
	font-size: 1.75em;
	display: inline-block;
	margin: 0;``
	padding: 0.25em;
}

#justPlay {
	float: right;
}

#tutorialGrid {
	position: absolute;
	width: 92%;
	margin-top: -2%;
	padding: 0;
	min-width: 260px;
	min-height: 260px;

}

#tutorialGrid tbody {
	margin: 0 auto;
}


/*******************************/
/* BANNER STYLES */
/*******************************/
.banner {
	width: 93%;
	display: inline-block;
	margin: 1.5% auto 20px auto;
}

.banner h2 {
	margin: auto 5%;
}

#btnTutorial {
	position: absolute;
	clear: left;
	display: inline-block;
	padding: 0.5em;
	font-size: 2.0em;
	font-weight: bolder;
	margin: 0 auto;
}


/*******************************/
/* BOARD STYLES */
/*******************************/
#container {
	background: url("../img/mahogany.jpg") no-repeat;
	background-size: cover;
	padding: 30px 0;
	margin: auto;
	width: 60%;
	padding-bottom: 48.5%;
	border: 10px outset transparent;
	box-shadow: 0 2px 14px 1px black;
	-webkit-border-image: url("../img/wood-border-test.jpg") 10 300 stretch;
	-o-border-image:      url("../img/wood-border-test.jpg") 10 300 stretch;
	border-image:         url("../img/wood-border-test.jpg") 10 300 stretch;
}

#sidebar {
	margin: 0 0 0 3%;
	padding: 0;
	width: 30%;
	max-width: 300px;
	display: inline-block;
}

#main {
	float: right;
	padding: 0;
	width: 60%;
	max-width: 800px;
	padding-right: 0.5%;
}

#divGrid {
	position: absolute;
	width: 92%;
	margin-top: -2%;
	padding: 0;
	min-width: 260px;
	min-height: 260px;
}

.square {

	box-sizing: border-box;
	line-height: 0;
	width: 18%;
	padding-bottom: 17%;
	margin-left: 1%;
	margin-top: 1%;
	float: left;
	opacity: 0.85;
	border-radius: 5%;
	box-shadow: inset 0 -1px 2px 0 #404040;
	border: outset 2px #654;


.square img {
	margin: 0;
	padding: 0;
	width: 100%;
	opacity: 1;
	
}

.color-0 { 
	background-image: url("../img/valley.jpg");
	background-size: cover;
}
.color-1 { 
	background-image: url("../img/mountain.jpg");
	background-size: cover;
}
.color-2 { 
	background-image: url("../img/swamp.jpg");
	background-size: cover;
}
.color-3 { 
	background-image: url("../img/desert.jpg");
	background-size: cover;
}
.color-4 { 
	background-image: url("../img/forest.jpg");
	background-size: cover;
}

.a {
	background-color: transparent;
	box-shadow: inset -3px 0 20px 1px #f0f0f0;
}

.b {
	background: url("../img/end.jpg") no-repeat;
	background-size: contain;
	opacity: 0.8;
}

.clicked {
	background: transparent;
	box-shadow: inset -3px 0 20px 1px #f0f0f0;
}

#divUserMoves {
	box-sizing: border-box;
	margin-top: 20px;
	width: 100%;
	padding-bottom: 17%;
	background-image: url("../img/brushed_alu_dark.png");
	opacity: 0.97;
	border: 3px solid #aaa;
	border-style: outset;
}

#divUserMoves .square {
	box-sizing: border-box;
	width: 15.5%;
	padding-bottom: 14%;
	box-shadow: 0 -1px 8px black;
}

#divHints {
	box-sizing: border-box;
	margin-top: 20px;
	width: 100%;
	padding-bottom: 17%;
	background-image: url("../img/brushed_alu_dark.png");
	opacity: 0.97;
	border: 4px solid #aaa;
	border-style: outset;
}

#divHints .square {
	box-sizing: border-box;
	width: 15.5%;
	box-shadow: 0 -1px 8px black;
}

#divHints .b {
	background-size: cover;
	padding-bottom: 14%;
}

.currentMove {
	padding: 0;
	border: 1px solid orange;
}

.hasImage {
	line-height: 0;
	padding-bottom: 0;
}

.currentMove .b {
}


/*******************************/
/* MEDIA QUERIES */
/*******************************/
@media screen and (min-width: 840px), screen and (max-width: 1250px) {
	#container {
		width: 750px;
	}

	#btnTutorial {
		clear: left;
	}
}

@media screen and (min-width: 560px), screen and (max-width: 839px) {
	#divSplash h1 {
		font-size: 6.0em;
	}

	#container {
		width: 90%;
	}

	#sidebar {
		float: left;
		position: absolute;
		left: 4%;
	}

	#main {
		clear: left;
		position: absolute;
		left: 45%;
		width: 50%;
	}
}

@media handheld, only screen and (max-width: 560px), only screen and (max-device-width: 480px)  {
	button {
		display: block;
		margin: 0 auto;
		padding: 0.25em;
		font-size: 2.0em;
	}

	#divSplash h1 {
		font-size: 4.0em;
	}

	#directions {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 6.0em;
		display: block;
	}

	#directions div {
		font-size: 1.5em;
	}

	#options h3 {
		display: inline-block;
		padding: 0;
	}

	#next, #justPlay {
		font-size: 1.75em;
		display: inline-block;
		margin: 0;
		padding: 0.25em;
	}

	#justPlay {
		float: right;
	}

	#tutorialGrid {
		position: static;
		margin: auto;
	}

/*	#tutorialGrid tbody {
		margin: 0 auto;
	}*/

	.banner {
		width: 80%;
		float: left;
	}

	#container {
		box-sizing: border-box;
		width: 100%;
		padding-bottom: 0;
	}

	#sidebar {
		position: static;
		float: none;
		display: block;
		margin: auto;
		padding: 0;
		width: 90%;
		max-width: 90%;
	}

	#divHints {
		margin: auto;
		padding-bottom: 17.5%;
		width: 100%;
	}

	#divUserMoves {
		margin: auto;
		padding-bottom: 17.5%;
		width: 100%;
	}

	#main {
		position: static;
		float: none;
		margin: 30px auto;
		width: 90%;
	}

	#divGrid {
		position: static;
		margin: auto;
	}
}


/*******************************/
/* ANIMATIONS */
/*******************************/
@-webkit-keyframes highlight {
	100% {
		top:    -10px;
		right:  -10px;
		bottom: -10px;
		left:   -10px;
		opacity: 0;
		
	}
}

.highlight {
	display: inline-block;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	opacity: 0.8;
}

#divHints.highlight {
	display: block;
}

.highlight:before {
	content: '';
	position: absolute;
	border-radius: 5%;
	box-shadow: inset 0 0 0 100px #202010;
	top:    0;
	right:  0;
	bottom: 0;
	left:   0;
	-webkit-animation: highlight 1.5s infinite;
	animation: highlight 1.5s infinite;
}

.glow {
	border: 1.5px solid transparent;
	-webkit-animation-name: glow;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
}
	
@-webkit-keyframes glow {
	0% {
		border-color: #000;
		/*box-shadow: inset 0 0 50px 0px transparent;*/
	}
	100% {
		border-color: #FFCC00;
		/*box-shadow: inset 0 0 50px 0px #FFCC00;*/
	}
}


.directions {
	float: left;
	width: 40%;
}

.directions li {
	margin: 20px 0 0 0;
	font-size: 20px;
}

#next {
	float: left;
}

#justPlay{
	float: right;
}

#tutorialMain {
	float: right;
	width: 50%;
}

