/*******************************/
/* TUTORIAL STYLES */
/*******************************/

#tutorialBar {
	margin: 0 0 0 3%;
	padding: 0;
	width: 100%;
	max-width: 300px;
	display: inline-block;
}

#directions {
	float: left;
	width: 40%;
}

#directions h3 {
	float: left;
}

#directions ul {
	position: fixed;
	width: inherit;
	margin-top: 50px;
}

#directions li {
	margin: 20px 0 0 0;
	font-size: 20px;
}

#tutorialContainer {
	float: right;
	width: 50%;
}

#tutorialGrid {
	width: 100%;
	padding: 0;
	padding-bottom: 89.8%;
	min-width: 260px;
	min-height: 260px;
}

#next {
	float: left;
}

#justPlay{
	float: right;
}

#tutorialMain {
	width: 100%;
}

