extends layout

block scripts
	script(src="/components/angular/angular.js")
	script(src="/javascripts/bundle.js")

block content
	h1= title
	button(ng-click="gCtrl.newGame()") New Game
	#divGrid
		span(ng-repeat="square in gCtrl.squares")
			span(class="{{square.class}}",ng-click="square.clicker()") {{square.textContent}}
	#divHints
	#divUserMoves