extends layout

block scripts
	script(src="/components/angular/angular.js")
	script(src="/components/angular/angular-cookies.js")
	script(src="/components/angular/angular-route.js")
	script(src="/javascripts/bundle.js")

block content
	div(ng-view)