extends layout

block scripts
	script(src="/components/angular/angular.js")
	script(src="/javascripts/bundle.js")

block content
	h1= title
	h3 {{gCtrl.message}}
	button(ng-click="gCtrl.newGame()") New Game
	#divGrid
		span(ng-repeat="square in gCtrl.squares")
			span(class="{{square.class}}",ng-click="square.clicker()") {{square.textContent}}
	#divHints
		span(ng-repeat="hint in gCtrl.hints")
			span(class="{{hint.class}}") {{hint.textContent}}
	#divUserMoves
		span(ng-repeat="move in gCtrl.moves")
			span(class="{{move.class}}")