extends layout

block content
	h1= title
	#divGrid
		each square in squares
			.square(value=square.value, class='color-'+square.colorKey)= square.value
	div
		each place in path
			p= place.direction