doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body(ng-app="routeApp")
    block content