doctype html
html(ng-app="gameApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body(ng-controller="gameController as gCtrl")
    block content