div.banner
	div#points 
		h2 Current Points:&nbsp;
		h2 {{gCtrl.points}}
	div#timer
		h2 Time Remaining:&nbsp;
		h2 {{gCtrl.timeDisplay}}
	div#high-score
		h2 High Score:&nbsp;
		h2 {{gCtrl.highScore}}
button#btnTutorial(ng-click="gCtrl.tutorial()") ?!?
#container(class="container")
	#sidebar
		button(ng-click="gCtrl.newGame()") New Game
		h3 Path Hints
		#divHints
			div(ng-repeat="hint in gCtrl.hints",class="{{hint.class}}")
				img(src="{{hint.image}}",alt="",class="{{hint.imgClass}}")
		h3 User Guesses: {{gCtrl.guesses}}
		#divUserMoves
			div(ng-repeat="move in gCtrl.moves",class="{{move.class}}")
	#main
		table#divGrid
			tr(ng-repeat="row in [0, 1, 2, 3, 4]",class="rows")
				td(ng-repeat="square in gCtrl.squares.slice(row * 5,(row + 1) * 5)",class="{{square.class}}", ng-click="square.click()") 
					img(class="{{square.imgClass}}",src="{{square.image}}",alt="")
//- button#btnReset(ng-click="gCtrl.reset()") Reset!