doctype html
html
  head
    block styles

    script(src="../assets/components/angular/angular.js")
    script(src="../assets/components/angular/angular-cookies.js")
    script(src="../assets/components/angular/angular-route.js")
    script(src="../assets/javascripts/bundle.js")
  body(ng-app="routeApp")
    div(ng-view)
