#container(class="clipped")
	#sidebar
		#directions
			//- .slideOut(ng-repeat="oldMessage in tCtrl.messages.slice(1, 2)") {{oldMessage}}
			.slideIn(ng-repeat="message in tCtrl.messages.slice(0, 1)") {{message}}
		#options
			button#next(ng-click='tCtrl.next()') Next
			h3 {{tCtrl.statement}}
			button#justPlay(ng-click='tCtrl.game()') Just Play!
		#divHints(class='{{tCtrl.hints.class}}')
			div(class='{{hint.class}}', ng-repeat='hint in tCtrl.hints')
				img(src='{{hint.image}}', alt='', class='{{hint.imgClass}}')
		#divUserMoves
			div(class='{{move.class}}', ng-repeat='move in tCtrl.moves')
	#main
		table#tutorialGrid
			tr.rows(ng-repeat='row in [0, 1, 2, 3, 4]')
				td(class='{{square.class}}', ng-repeat='square in tCtrl.example.slice(row * 5,(row + 1) * 5)', ng-click='square.click()')
					img(class='{{square.imgClass}}', src='{{square.image}}', alt='')
